/* src/components/LoginForm.css */
.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-size: 1rem;
}
  
.form-container form {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.form-container form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 1rem;
    color: #000;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
  
.form-container h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
  
.form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}
  
.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}
  
.form-container button:hover {
    background-color: #0056b3;
    color: #fff;
}
  
.form-container p {
    margin-top: 15px;
    text-align: center;
    font-size: 1rem;
}
  
.form-container a {
    color: #007bff;
    text-decoration: none;
}
  
.form-container a:hover {
    color: #0056b3;
}
  